{% extends "base.html" %}
{% block title %}Delete User{% endblock %}
{% include 'nav.html' %}
{% block content %}

<form id="form" action="{{ url_for('views.delete_user', id=users.id) }}" method="POST">
    <h3 align="center">Delete, {{users.username}} ?</h3>
    <br/>
    <div class="form-group row">                           
        <div align="center">
            <button class="btn btn-danger" type="submit", action="delete">Delete</button>            
            <input class="btn btn-primary" type="button" value="Cancel" onclick="history.back()">
        </div>        
    </div>
</form>
{% endblock %}