{% extends "base.html" %}
{% block title %}Edit User{% endblock %}
{% include 'nav.html' %}
{% block content %}
<form method="POST">
    <h3 align="center">Update</h3>
    <div class="form-group row">
    {% for key in user_details.keys() %}       
            <div class="col-sm-10">               
                    <label for="username" class="col-sm-2 col-form-label">{{ key }}</label>
                    <input class="form-control" id="update_field" name="update_{{user_details[key][0]}}" value="{{user_details[key][1]}}"
                        placeholder="Type to update {{ key }}">
                        
            </div>        
        {% endfor %}
   
        <div align="center">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
        
    
    </div>
</form>
{% endblock %}