{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% include 'nav.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <!-- <div class="navbar-brand mb-3" align="center">
                <img src="https://www.pentalog.com/wp-content/themes/penta2018/assets/img/fav/apple-icon-57x57.png" width="30"
                    height="30" class="d-inline-block align-top" alt="" loading="lazy">
                <strong>TDD FlaskUsers</strong>
            </div> -->
            <form method="POST">
                <h4 align="center">Login</h4>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email" />
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
                    <br />
                    <div align="center">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}