 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">
        <img src="https://www.pentalog.com/wp-content/themes/penta2018/assets/img/fav/apple-icon-57x57.png" width="30" height="30" class="d-inline-block align-top" alt=""
            loading="lazy">
        <strong>TDD FlaskUsers</strong>
    </a>
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">            
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/users">Users</a>
              <a class="nav-item nav-link" href="/sign-up">Add user</a>
              <a class="nav-item nav-link" href="/logout">Logout, <i>{{user.username}}</i></a>
            {% else %}
              <a class="nav-item nav-link" href="/login">Login</a>
              <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>