{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% include 'nav.html' %}
{% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" />
        <label for="name">Name</label>
        <input type="text" id="username" name="name" class="form-control" placeholder="Name" />
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email" />
        <label for="password1">Password</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter Password" />
        <label for="password2">Password Again</label>
        <input type="password" id="password2" name="password2" class="form-control"
            placeholder="Enter Password Again" />
        <br />
        <div align="center">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}