{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block nav %}{% include 'nav.html' %}{% endblock %}
{% block content %}

<h1>Users</h1>    
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>          
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Date Created</th>
                <th scope="col">Date Updated</th>
                <th scope="col">Account Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in users %}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.username}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.date_created}}</td>
                <td>{{item.date_updated}}</td>
                <td align="center hide-xs">
                    {% if item.is_active == False %}                    
                        <span class="badge alert-danger">Inactive</span>                                            
                    {% else %}                    
                        <span class="badge alert-success">Active</span>
                    {% endif %}
                </td>
                <td align="center hide-xs">
                    <a href="/edit-user/{{item.id}}" class="btn btn-primary btn-sm"><i class="fa fa-pencil fa-1"></i></a>
                    <a href="/delete-user/{{item.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-1"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}